/* productDetail.css */

.product-detail-container {
    background-color: rgb(235, 231, 231);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-detail-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px; 
    color: #e60023;

}


.product-detail-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 20px;
}

.product-detail-image {
    flex: 1;
}

.product-detail-image img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin-left: 20px;
}

.product-detail-details {
    flex: 1;
    margin-left: 20px; 
}

.product-detail-details {
    flex: 2;
    padding-left: 20px;
    font-size: 50px;
    color: #3d0f16;
}


.product-detail-description {
    margin-bottom: 10px;
}

.product-detail-price {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-detail-buttons {
    margin-top: 20px;
}

.product-detail-related-products {
    margin-top: 40px;
}

.related-product-card {
    width: 300px;
    margin-bottom: 20px;
}
/* productDetail.css */

.custom-button {
    margin-right: 10px; 
    background-color: #e60023;
    border-color: #e60023;
  }
  .custom-button:hover {
    background-color: white;
    border-color: white;
    color: #3d0f16;
  }
  
  .button-icon {
    margin-right: 5px; 
  }
  