
@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800,800i,900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.product-card {
    background-color: #3d0f16;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.product-card-content {
    padding: 20px;
}

.product-card-title {
    font-size: 18px;
    font-weight: 900;
    color: #fcffce;
    margin-bottom: 10px;
}

.product-card-description {
    font-size: 14px;
    margin-bottom: 10px;
}

.product-card-price {
    font-size: 16px;
    font-weight: 600;
    color: #e60023;
    margin-bottom: 5px;
}

.product-card-rating {
    font-size: 14px;
    margin-bottom: 5px;
}

.product-card-quantity {
    font-size: 14px;
    margin-bottom: 5px;
}
.product-image {
    position: relative;
}

.product-quantity {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #28a745; 
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.product-image.out-of-stock .product-quantity {
    background-color: rgba(75, 75, 75, 0.993); 
}
.low-stock {
    background-color: #dc3545;
  }
.product-list-container {
    margin-top: 50px; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    justify-content: center; 
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}
  
 



  
  /* Style for the scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #3d0f16; 
    border-radius: 5px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3d0f16; 
  }
  /* productList.css */

.product-card-buttons {
    margin-top: 10px;
}

.product-card-buttons button {
    margin-right: 10px; /* Add spacing between buttons */
}

.product-card-buttons button.btn-primary {
    background-color: #e60023; /* Change background color for "Add to Cart" button */
    border-color: #e60023;
}

.product-card-buttons button.btn-primary:hover {
    background-color: #e60023; 
    transform: scale(1.1); /* Increase size by 10% on hover */
}


.product-card-buttons button.btn-secondary {
    background-color: #6c757d; 
    border-color: #6c757d;
}

.product-card-buttons button.btn-secondary:hover {
    background-color: #ffffff; 
    color:#5a6268;
}

